body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: -webkit-linear-gradient(90deg, #ffffff 0, #FFFFFF 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%), -webkit-linear-gradient(0deg, #ffffff 0, #FFFFFF 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%), -webkit-linear-gradient(90deg, rgba(255,255,255,0.29) 0, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%), -webkit-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(0,0,0,1);
  background: -moz-linear-gradient(0deg, #ffffff 0, #FFFFFF 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%), -moz-linear-gradient(90deg, #ffffff 0, #FFFFFF 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%), -moz-linear-gradient(0deg, rgba(255,255,255,0.29) 0, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%), -moz-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(0,0,0,1);
  background: linear-gradient(0deg, #ffffff 0, #FFFFFF 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%), linear-gradient(90deg, #ffffff 0, #FFFFFF 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 100%), linear-gradient(0deg, rgba(255,255,255,0.29) 0, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0) 100%), linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(0,0,0,1);
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-size: 400px 400px, 400px 400px, 50px 50px, 50px 50px;
}
input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  font-size: 20px;
}
input:focus {
  outline: none;
  border-bottom: solid 2px #969696;
}
button{
  border: none;
  width: 100%;
  font-size: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin: 4px;
}
button:focus{
  outline: none;
}
button:hover{
  background-color: #00ff00;
}
table{
  border-collapse: collapse;
}
a{
  cursor: pointer;
}
.panel{
  width: 400px;
  margin: auto; 
  background-color: #969696; 
  margin-top:100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 20px;
  box-shadow: 4px 4px black;
  border: lime 1px solid;
}
#panelLobby{
  width: 1000px;
}
#lobbySettings{
  float: right;
  width: 30%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 30vh;
}
#lobbySettings input, #lobbySettings select{
  height: 20px;
  width: 100%;
  font-size: 10pt;
}
#lobbySettings table{
  width: 100%;
}
#lobbyTable{
  float: left;
  width: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 30vh;
}
#lobbySettings tr{
  background: #606060;
  padding: 0px;
  margin: 0px;
  border: none;
  height: 20px;
}
#lobbySettings tr:nth-child(even){
  background: #505050;
}
#lobbyTable table{
  width: 100%;
  table-layout: fixed;
}
#lobbyTable table th{
  border-bottom: 1px solid white;
}
#lobbyTable table td:first-child{  /*alpha*/
  background: #5050dd;
}
#lobbyTable table td:nth-child(2){  /*bravo*/
  background: #aa5050;
}
#lobbyTable table td:nth-child(3){  /*charlie*/
  background: #50aa50;
}
#lobbyTable table td:nth-child(4){  /*delta*/
  background: #dada40;
}
#lobbyTable table td:nth-child(5){  /*echo*/
  background: #900090;
}
#lobbyTable table td:nth-child(6){  /*foxtrot*/
  background: #40dada;
}
#lobbyTable table td:nth-child(7){  /*gold*/
  background: #d4af37;
}
#lobbyTable table td:nth-child(8){  /*hotel*/
  background: #401010;
  color: white;
}
#game{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
span.button:before{
  content: "["
}
span.button:after{
  content: "]"
}
span.button{
  cursor: pointer;
}
span.button.hover{
  color: blue;
}